<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EPray</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ">
            <div class="container">
                <div class="w3-panel w3-animate-opacity">
                    <a class="w3-tag w3-jumbo" asp-area="" asp-controller="Home" asp-action="Index">e</a>
                    <a class="w3-tag w3-jumbo" asp-area="" asp-controller="Home" asp-action="Index">P</a>
                    <a class="w3-tag w3-jumbo" asp-area="" asp-controller="Home" asp-action="Index">R</a>
                    <a class="w3-tag w3-jumbo" asp-area="" asp-controller="Home" asp-action="Index">A</a>
                    <a class="w3-tag w3-jumbo" asp-area="" asp-controller="Home" asp-action="Index">Y</a>

                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><h3>Home</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><h3>Privacy</h3></a>
                        </li>
                        @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
                        @{ if (HttpContextAccessor.HttpContext.Request.Cookies["userId"] == null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register"><h3>Register</h3></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Signin"><h3>Sign in</h3></a>
                                </li>
                            }
                        }

                        @{ if (HttpContextAccessor.HttpContext.Request.Cookies["userId"] != null)
                            {
                                if (HttpContextAccessor.HttpContext.Request.Cookies["userName"] != null)
                                {
                                    <li class="nav-item" id="user-id" data-user-id="@HttpContextAccessor.HttpContext.Request.Cookies["userId"]">
                                        <a class="nav-link text-dark"><h3>Hello @HttpContextAccessor.HttpContext.Request.Cookies["userName"].Substring(0, @HttpContextAccessor.HttpContext.Request.Cookies["userName"].IndexOf('@'))</h3></a> 
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item" id="user-id" data-user-id="@HttpContextAccessor.HttpContext.Request.Cookies["userId"]">
                                        Hello User
                                    </li>
                                }
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Logout"><h3>Log out</h3></a>
                                </li>
                            }

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - EPray - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
