@model IEnumerable<EPray.Models.PrayerModel>

@{
    ViewData["Title"] = "GetPrayers";
}

<h1>@*Prayers*@</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lyrics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td data-lyrics="@item.Lyrics" class="lyrics">
                @item.Lyrics.Substring(0,16) ....
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                <a class="btn btn-danger" name="target">target</a>
                <div class="target-email" >
                    <form asp-area="" asp-controller="Home" asp-action="GetPrayers" method="post">
                        <input type="text" class="email" rows="1" name="recieverEmail" />
                        <input type="submit" value="submit"  />
                    </form>
                    
                </div>
                
            </td>
        </tr>
}
    </tbody>
    <tr>
        <td>
            @if (Model.ToList()[0].Religion == ReligionType.CHRISTIAN)
            {
                <a href="http://www.radiotrinitas.ro/live/" target="_blank"><img src="~/Logo-2018-radio-trinitas.png">Christian Radio Click here</a>
            }
        </td>
    </tr>
</table>
@section Scripts{ 
<script src="~/js/showFullPrayer.js"></script>
<script src="~/js/displayTextArea.js"></script>
}
