@model IEnumerable<EPray.Models.PrayerModel>

@{
    ViewData["Title"] = "GetPrayers";
}

<h1>@*Prayers*@</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lyrics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td data-lyrics="@item.Lyrics" class="lyrics">
                @item.Lyrics.Substring(0,16) ....
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                <a class="btn btn-danger" name="target">target</a>
                <div class="target-email" >
                    <input type="text" class="email"/>
                    <input type="submit" value="submit" />
                </div>
                
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{ 
<script src="~/js/showFullPrayer.js"></script>
<script src="~/js/displayTextArea.js"></script>
}
